altgraph==0.17
Click==7.0
decorator==4.4.1
et-xmlfile==1.0.1
Flask==1.1.1
future==0.18.2
itsdangerous==1.1.0
jdcal==1.4.1
Jinja2==2.10.3
joblib==0.14.1
MarkupSafe==1.1.1
networkx==2.4
numpy==1.18.1
openpyxl==3.0.3
pandas==0.25.3
pefile==2019.4.18
prettytable==0.7.2
PyInstaller==3.6
python-dateutil==2.8.1
pytz==2019.3
pywin32-ctypes==0.2.0
scikit-fuzzy==0.4.2
scikit-learn==0.22.1
scipy==1.4.1
six==1.14.0
sklearn==0.0
Werkzeug==0.16.0
xlrd==1.2.0
